.nav {
    /*  border: 10px solid yellow; */
    display: flex;
    align-items: center;
    background-color: rgb(26, 25, 25);
}

.nav img {
    padding: 0;
    margin: 0;
    /*   border: 1px purple solid; */
}

.nav span {
    color: rgb(151, 206, 76);
    margin: .5rem;
}

.menu {
    /* border: 1px red solid; */
}

.menu span {
    /* border: 1px green solid; */
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .menu {
        display: flex;
        flex-wrap: wrap;
        width: 30%;
    }

    .menu span {
        margin: 1rem;
        /* font-size: 9px; */
    }

    .nav img {
        display: none;
    }
}